body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Hide scrollbars */
}

#app-container {
    height: 100vh;
    width: 100vw;  
    overflow: hidden; 
    position: relative;
    background: transparent; 
}
