.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 8px;
}

.center {
  display: flex;
  margin: auto;
  padding-top: 25px;
  margin-top: 50px;
}

.graph {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
}
