.bottom-button {
    position: relative;
    /* Optional: Customize button styles */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(50%);
    background: transparent;
}

.bottom-button:hover {
    background: transparent !important;
    transform: scale(1.3) !important;
}

.fixed-button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 5px;
    background: transparent;
}
